[login.conf]

default:\
 42         :path=/usr/bin /bin /usr/sbin /sbin /usr/X11R6/bin /usr/local/bin /usr/local/sbin:\
 43         :umask=022:\
 44         :datasize-max=768M:\
 45         :datasize-cur=768M:\
 46         :maxproc-max=256:\
 47         :maxproc-cur=128:\
 48         :openfiles-max=1024:\
 49         :openfiles-cur=512:\
 50         :stacksize-cur=4M:\
 51         :localcipher=blowfish,a:\
 52         :tc=auth-defaults:\
 53         :tc=auth-ftp-defaults:
 54
 55 #
 56 # Settings used by /etc/rc and root
 57 # This must be set properly for daemons started as root by inetd as well.
 58 # Be sure reset these values back to system defaults in the default class!
 59 #
 60 daemon:\
 61         :ignorenologin:\
 62         :datasize=infinity:\
 63         :maxproc=infinity:\
 64         :openfiles-max=1024:\
 65         :openfiles-cur=128:\
 66         :stacksize-cur=8M:\
 67         :localcipher=blowfish,a:\
 68         :tc=default:
 69
 70 #
 71 # Staff have fewer restrictions and can login even when nologins are set.
 72 #
 73 staff:\
 74         :datasize-cur=4096M:\
 75         :datasize=4096M:\
 76         :openfiles-cur=1024:\
 77         :stacksize-cur=16M:\
 78         :datasize-max=infinity:\
 79         :maxproc-max=512:\
 80         :maxproc-cur=256:\
 81         :ignorenologin:\
 82         :requirehome@:\
 83         :tc=default:


[sndiod]
---------------------------
sndiod flags:
sndiod_flags=-s default -m play,mon -s mon


[/etc/fstab]
---------------------------
192.168.1.4:/tank       /tank   nfs     rw,noatime,-a=4 0 0
192.168.1.4:/tank/media /tank/media     nfs     rw,noatime,-a=4 0 0
192.168.1.4:/tank/p     /tank/p         nfs     rw,noatime,-a=4 0 0
192.168.1.4:/tank/backup        /tank/backup    nfs     rw,noatime,-a=4 0 0
192.168.1.4:/tank/software      /tank/software  nfs     rw,noatime,-a=4 0 0
192.168.1.4:/tank/photos        /tank/photos    nfs     rw,noatime,-a=4 0 0




